.react-tabs__tab {
    cursor: pointer;
    padding: 15px 30px;
    color: var(--text-secondary);
    position: relative;
    outline: none;
    border-radius: var(--border-radius);
    font-size: var(--fontSize-text);
    font-weight: 900;
    &_notification {
        box-shadow: none;
        background-color: var(--background-secondary);
        padding: 10px 30px;
    }
    &--selected,
    &:hover {
        background-color: var(--background-acent);
        color: var(--background-primary);
    }

}

.tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
    gap: 10px;
    overflow-x: auto;
}