.notification {
    position: absolute;
    top: 6vh;
    right: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 25px 0px rgb(34 60 80 / 10%);
    width: 40%;
    min-width: 300px;
    display: none;
    &_active {
        display: block;
    }
    &__tabs {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}