.dashboard { 
    &__wrapper {
        display: flex;
        gap: var(--gaps);
        justify-content: space-between;
    }
    &__item {
        padding-bottom: var(--gaps);
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__column {
        width: 49% !important;
    }
}