@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

:root {
    --background-primary: #ffffff;
    --background-secondary: #f3f5f8;
    --background-acent: #04016a;
    --background-alert: #9c9eec;
    --background-accept: #b0f5ba;
    --background-caution: #ffe8bb;
    --text-disabled: rgb(221, 221, 221);
    --text-primary: #111840;
    --text-secondary: #41415a;
    --fontSize-title: min(max(28px,4vw),70px);
    --fontSize-subtitle: min(max(21px,0.8vw),50px);
    --fontSize-text: min(max(18px,1vw),30px);
    --border-radius: 15px;
    --gaps: 30px;
    --box-shadow: 0px 3px 25px 0px rgb(34 60 80 / 5%);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
    border-radius: var(--border-radius);
}
  
body {
    position: relative;
}
  
ul,
li {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.app {
    min-height: 100vh;
    position: relative;
    background: var(--background-secondary);
}

.main {
    margin-left: 250px;
}

.content {
    padding: var(--gaps);
}

.input {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    padding: 0 var(--gaps);
    border: 1px solid #dcdcdc;
    &_table {
        border: 1px solid #dcdcdc;
        width: 60px;
        padding: 3px 7px;
    }
    &_textarea {
        resize: none;
        min-height: 200px;
        max-width: 900px;
        margin-top: 10px;
        display: block;
        padding: 30px;
    }
    &_light {
        border: none;
        background-color: var(--background-primary);
        box-shadow: var(--box-shadow);
    }
}

.button {
    background-color: transparent;
    border: 2px solid var(--background-acent);
    color: var(--background-acent);
    padding: 7px;
    border-radius: var(--border-radius);
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--fontSize-text);
    &:hover {
        background-color: var(--background-acent);
        color: var(--background-primary);
    }
    &_light {
        border: 2px solid var(--background-primary);
        color: var(--background-primary);
        &:hover {
            color: var(--background-acent);
            background-color: var(--background-primary);
        }  
    }
}

.checkbox {
    width: 20px;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
}

.date {
    border-radius: var(--border-radius);
    border: 2px solid var(--background-acent);
    padding: 7px;
    color: var(--text-secondary);
    font-size: var(--fontSize-text);
    background-color: transparent;
}

.icon {
    display: grid;
    place-content: center;
    font-size: inherit;
    &_sidebar {
        z-index: 9999;
    }
    &_search {
        position: absolute;
        top: 15px;
        right: 15px;     
    }
    &_header {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    &_table {
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
    &_info {
        width: 25px;
        height: 25px;
        min-width: 25px;
    }
    &_account {
        margin: auto;
        width: 30px;
        height: 30px;
        color: var(--background-acent);
    }
    &_cancel {
        color: var(--text-secondary);
    }
    &_advanced {
        width: 20px;
        height: 20px;
        min-width: 20px;
    }
    &_sortable {
        color: var(--text-disabled);
        width: 20px;
        height: 20px;
        min-width: 20px;
    }
}

@import './media';