.settings {
    &__info {
        gap: 5px;
        font-size: var(--fontSize-text);
        color: var(--text-secondary);
        display: flex;
        align-items: center;
        width: fit-content;
        p {
            background-color: var(--background-accept);
            border-radius: var(--border-radius);
            padding: 10px 15px;
        }
        span {
            font-weight: 900;
        }
    }
    &__label {
        font-size: var(--fontSize-text);
        color: var(--text-primary);
        padding-bottom: 10px;
    }
    &__checkitem {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: var(--fontSize-text);
        color: var(--text-primary);
    }
    &__size-form {
        display: flex;
        gap: 30px;
    }
    &__size-form-wrapper {
        height: 60px;
        padding-top: 10px;
        max-width: 200px;
    }
    &__input-wrapper {
        max-width: 500px;
        height: 60px;
        padding-top: 10px;
    }
    &__form {
        padding: 30px var(--gaps) 0 var(--gaps);
        display: flex;
        gap: var(--gaps);
        flex-direction: column;
        &_checkitem {
            padding: 0;
        }
    }
}