.section {
    display: flex;
    gap: var(--gaps);
    &_apps {
        justify-content: center;
        flex-wrap: wrap;
    }
    &_addons,
    &_dashboard,
    &_settings {
        display: block;
        gap: 0;
    }
    &_analytics,
    &_account {
        flex-direction: column;
    }
    &_settings-tab {
        flex-direction: column;
        padding-top: var(--gaps);
    }
    &__title {
        color: var(--text-primary);
        font-size: var(--fontSize-subtitle);
    }
    &__subtitle {
        color: var(--text-secondary);
        font-size: var(--fontSize-text);
    }
    &__subtext {
        color: var(--text-secondary);
        font-size: 16px;
    }
    &__link {
        color: var(--background-acent);
        font-size: var(--fontSize-text);
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    &__upsell {
        display: flex;
        gap: 5px;
        align-items: center;
        background-color: var(--background-accept);
        width: fit-content;
        padding: 3px 7px;
        border-radius: 7px;
    }
}