.addons {
    &__content {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    &__upper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px 0;
        align-items: center;
    }
    &__main {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__main-img {
        width: 150px;
    }
    &__main-title {
        color: var(--text-primary);
        font-size: var(--fontSize-subtitle);
    }
    &__search {
        height: 50px;
        max-width: 600px;
        min-width: 230px;
        position: relative;
        .search-icon {
            position: absolute;
            top: 13px;
            right: 15px;
            font-size: var(--fontSize-subtitle);
            color: var(--text-primary);
        }
    }
    &__table {
        width: 100%;
        background-color: var(--background-secondary);
        padding: 30px;  
        border-radius: var(--border-radius);
    }
    &__table-upper {
        display: flex;
        justify-content: space-between;
        font-size: var(--fontSize-subtitle);
        color: var(--text-primary);
        font-weight: 900;
        align-items: center;
        padding-bottom: 30px;
    }
    &__table-row {
        display: flex;
        gap: 20px;
        &_main {
            padding-bottom: 20px;
        }
    }
    &__table-wrapper {
        padding-top: 30px;
    }
    &__table-item {
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: 15px 30px;
        &:nth-child(1) {
            flex: 1;
            text-align: center;
            display: grid;
            place-content: center;
            input {
                width: 20px;
                height: 20px;
            }
        }
        &:nth-child(2) {
            flex: 5;
        }
        &:nth-child(3) {
            flex: 4;
        }
        &:nth-child(4) {
            flex: 2;
        }
        &_header {
            font-size: var(--fontSize-text);
            color: var(--text-primary); 
            font-weight: 900;
        }
        &_input {
            background-color: transparent;
            box-shadow:none;
            padding: 0;
            textarea,
            input {
                resize: none;
                background-color: var(--background-primary);
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
                padding: 30px 30px;
            }
        }
    }
    /* &__table-placeholder {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    &__table-img {
        width: 100%;
    } */
}

.tabs_addons {
    margin-bottom: 10px;
}