.addons {
    &__upper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--gaps);
        margin-bottom: var(--gaps);
    }
    &__search {
        height: 50px;
        width: 600px;
        min-width: 230px;
        position: relative;
    }
}