.popup-settings {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__form-item {
        height: 84px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        label {
            font-size: var(--fontSize-text);
            color: var(--text-secondary);
            padding-bottom: 10px;
        }
    }
}