.sidebar {
    position: sticky;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 15%;
    min-width: 300px;
    height: 100vh;
    padding: 3vh 0 3vh 0.7%;
    background: var(--background-acent);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    &_tablet {
        width: 5%;
        min-width: 80px;
    }
    &_mobile {
        position: fixed;
        transform: translate(0px);
        width: 70%;
        &_hidden {
            transform: translate(-100%);
        }
    }
    &__logo-box {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0 0 50px 12px;
    }
    &__logo-img {
        width: 35px;
        border-radius: 10px;
    }
    &__logo-title {
        font-weight: 900;
        color: var(--background-primary);
        font-size: var(--fontSize-subtitle);
        &_tablet {
            color: transparent;
        }
    }
    &__pro {
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        padding: 30px;
        text-align: center;
        white-space: normal;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20vh 15px 0 5px;
        &_hidden {
            display: none;
        }
    }
    &__pro-title {
        color: var(--background-acent);
        font-size: var(--fontSize-subtitle);
    }
    &__pro-subtitle {
        color: var(--text-primary);
        padding: 10px 0 20px 0;
        font-size: var(--fontSize-text);
    }
    &__link {
        width: 100%;
        height: 6vh;
        min-height: 60px;
        align-items: center;
        display: flex;
        gap: 30px;
        color: var(--background-primary);
        font-size: var(--fontSize-subtitle);
        padding: 0 20px;
        position: relative;
        border-radius: 30px;
        &:hover,
        &_active {
            color: var(--background-acent);
            background-color: var(--background-secondary);
            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 50px;
                width: 55px;
                border-radius: 50%;
                right: 0;
                background-color: transparent;
            }
            &::before {
                top: -50px;
                box-shadow: 35px 35px 0 10px var(--background-secondary);
            }
            &::after {
                bottom: -50px;
                box-shadow: 35px -35px 0 10px var(--background-secondary);
            }
        }  
    }
    &__text {
        &_tablet {
            color: transparent;
        }
    }
}

.sidebar::-webkit-scrollbar {
    width: 0;
}