.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;
    height: 100vh;
    padding: 15px 0.7%;
    background-color: var(--background-primary);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    box-shadow: var(--box-shadow);
    &__logo-box {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0 0 50px 12px;
    }
    &__logo-img {
        width: 35px;
        border-radius: 10px;
    }
    &__logo-title {
        font-weight: 900;
        color: var(--text-primary);
        font-size: var(--fontSize-text);
    }
    &__pro {
        background-color: var(--background-alert);
        border-radius: var(--border-radius);
        padding: 30px;
        text-align: center;
        white-space: normal;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
    }
    &__pro-title {
        color: var(--background-acent);
        font-size: var(--fontSize-subtitle);
    }
    &__pro-subtitle {
        color: var(--background-primary);
        padding: 10px 0 20px 0;
        font-size: var(--fontSize-text);
    }
    &__link {
        width: 100%;
        height: 6vh;
        min-height: 55px;
        align-items: center;
        display: flex;
        gap: var(--gaps);
        color: var(--text-primary);
        font-size: var(--fontSize-subtitle);
        padding: 0 21px;
        position: relative;
        border-radius: var(--border-radius);
        margin-bottom: 5px;
        &:hover,
        &_active {
            color: var(--background-acent);
            background-color: var(--background-secondary);
        }  
    }
}