.account {
    &__upper {
        text-align: center;
        width: 100%;
        h2 {
            margin-bottom: 10px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        gap: var(--gaps);
        flex-wrap: wrap;
    }
    &__card {
        width: 360px;
        min-width: 230px;
        background-color: var(--background-primary);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
    }
    &__card-upper {
        width: 100%;
        background-color: var(--background-alert);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        padding: var(--gaps);
        color: var(--background-acent);
    }
    &__card-content {
        padding: var(--gaps);
        min-height: 300px;
    }
    &__card-footer {
        padding: var(--gaps);
        text-align: center;
        cursor: pointer;
    }
}