.account {
    &__header {
        display: flex;
        justify-content: space-between;
        color: var(--text-primary);
        font-size: var(--fontSize-title);
        padding-bottom: 100px;
        h4 {
            text-align: right;
            font-size: var(--fontSize-subtitle);
        }
        p {
            font-size: var(--fontSize-text);
            color: var(--text-secondary);
        }
        &_pro {
            color: inherit;
            p {
                color: inherit;
            }
        }
    }
    &__list {
        padding: 60px 0;
        color: inherit;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__list-item {
        font-size: var(--fontSize-text);
        display: flex;
        gap: 30px;
        align-items: center;
    }
    &__footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__active {
        background-color: var(--background-accept);
        padding: 7px 10px;
        border-radius: var(--border-radius);
    }
}

.plate_account {
    min-width: 280px;
    max-width: 440px;
    color: var(--text-secondary);
    &:last-child {
        background-color: var(--background-acent);
        color: var(--background-primary);
    }
}